section#about.page
	.container
		.row
			.col-md-12
				.title
					h2 ABOUT ME
					hr/

		.row
			.col-md-12( style="text-align: center" )
				img( src="/img/myphoto.jpg", style="padding: 5px; border: solid 1px rgb(250, 250, 250)" )
				div( style="margin-bottom: 30px" )
					|&nbsp;

		.row
			.col-md-12.copy( style="text-align: center" )
				h3 BcA. Lucie Kalinova
				br/
				p( style="max-width: 450px; margin: 0 auto 20px auto" ).
					Hi, I am digital designer based in London.
					I studied Media at Literary Academy in Prague where I reached my bachelor’s degree in Media Communications.
					After my graduation I moved to Manchester to study Graphic Design
					at Shillington College which I successfully completed in December 2014.

				p( style="max-width: 450px; margin: 0 auto 20px auto" ).
					My career started 4 years ago. I have been working as Photographer and Graphic Designer
					for Kalvei, s.r.o. based in Prague. During last year we have been working on all-new
					branding identity design. I created their new logo, business cards, design for new
					website and car stickers.

				p( style="max-width: 450px; margin: 0 auto 20px auto" ).
					In Spring 2015 I moved to London and I got the job for Graphic Design studio called
					Heard Creative and in November 2016 I was accepted for a role of a digital designer at Karen Millen.
					July 2016 I successfully graduated Front-End Developer course at General Assembly in London.

				p( style="max-width: 450px; margin: 0 auto 20px auto" ).
					For many years i have been interested in photography.
					In March 2014 I hosted an exhibition of my own photos called PhotoBlues.

				p( style="max-width: 450px; margin: 0 auto 20px auto" ).
					In case you are interested I will send you my PDF portfolio, you can see my
					<a href="/Lucie Kalinova CV 2015.pdf" target="_blank" title="See my CV">CV here.</a>
					Please feel free to contact me for more information any time on my email address
					<a href="mailto:hello@luciekalinova.com">hello@luciekalinova.com</a>
