section#about.page
	.container
		.row
			.col-md-12 
				.title
					h2 ABOUT ME
					hr/

		.row
			.col-md-12( style="text-align: center" )
				img( src="/img/myphoto.jpg", style="padding: 5px; border: solid 1px rgb(250, 250, 250)" )
				div( style="margin-bottom: 30px" ) 
					|&nbsp;

		.row
			.col-md-12( style="text-align: center" )
				h3 BcA. Lucie Kalinova
				br/
				p.
					Hi, I am graphic designer based in London. I am originally from the Czech Republic.<br>
					I  studied Media at Literary Academy in Prague. After my graduation I moved to Manchester <br/>
					where I studied Graphic Design at Shillington College.<br/><br/>
					
					Since May 2015 I have been working for a Graphic Design studio called Heard Creative based in London.<br/>
					I offer whole graphic design service - web design, branding, business documents and etc.<br/>
					For many years i am interested in photography so I offer also photography service.<br/> 
					Last 3 years I have been working as Photographer and Graphic Designer for the company 
					Kalvei s.r.o..<br/>During this year we have been working on all-new branding identity design.<br/> 
					So far I created new logo, business cards, design for new website and car stickers.<br/><br/>
					
					In March 2014 I hosted an exhibition of my own photos called PhotoBlues.<br/><br/>

					In case you are interested I will send you my PDF portfolio, you can see my  
					<a href="/Lucie Kalinova CV 2015.pdf" target="_blank" title="See my CV">CV here</a><br/>
					Please feel free to contact me for more information any time on my email address 
					<a href="mailto:hello@luciekalinova.com">hello@luciekalinova.com</a>




				
			






