footer#concat
	.container
		.row
			.col-md-12
				div( style="padding: 50px 0" )
					p 
						|Telephone: <a href="tel:+44 (0)7983 247 492">+44 (0)7983 247 492</a><br/>Email: <a href="mailto:hello@luciekalinova.com">hello@luciekalinova.com</a><br>
						|Follow me on:

					p( style="text-indent: -30px" )
						a(href="https://www.facebook.com/luciekalinovagraphicdesign", target="_blank") 
							i.flaticon-facebook55
						a(href="https://www.behance.net/luciekalinova", target="_blank") 
							i.flaticon-behance2
						a(href="https://www.pinterest.com/lucikali/", target="_blank") 
							i.flaticon-pinterest3
						a(href="https://www.linkedin.com/in/lkalinova", target="_blank") 
							i.flaticon-linkedin11
						a(href="https://twitter.com/lucikali6", target="_blank") 
							i.flaticon-twitter1

					p.copyright.
						&copy; Lucie Kalinova, 2015<br/>
						developed by <a href="http://www.dariogoutto.me" target="_blank">Dario Goutto</a>


