//- menu.jade
//- this file contains the main menu


#menu-wrapper
	#menu
		a.active(href="#!/home") Home
		a(href="#!/about") About me
		
		a.menu-logo(href="#") 
			img(src="img/slogo.png", alt="small logo")
			img(src="img/slogowhite.png", alt="small logo")

		a(href="#!/work") Work
		a(href="#!/contact") Contact

	hr.menu-bottom-line