section#project.animated.hide
	.inner
		.container
			.row
				.col-md-12
					a.pull-right(href="").close
						i.flaticon-cross37

			br/
			br/
			br/

			.row
				.col-md-4
					

				.col-md-8
					ul.list-unstyled.project-medias
						


