section#work.page
	.container
		.row
			.col-md-12
				.title
					h2 WORK
					hr/

		.row
			.col-md-12
				.row
					.col-md-4.col-sm-4.work( data-view-project="fashion" )
						.thumb
							img( src="/img/projects/fashion.png", style="border: solid 1px #eee" )
							img( src="/img/projects/fashion_hover.png", style="border: solid 1px #eee" )
						p Fashion Campain

					.col-md-4.col-sm-4.work( data-view-project="kuba" )
						.thumb
							img( src="/img/projects/kuba.png", style="border: solid 1px #eee" )
							img( src="/img/projects/kuba_hover.png", style="border: solid 1px #eee" )
						p Digital Portfolio for Jakub Kalina

					.col-md-4.col-sm-4.work( data-view-project="footscray" )
						.thumb
							img( src="/img/projects/footscray.png", style="border: solid 1px #eee" )
							img( src="/img/projects/footscray_hover.png", style="border: solid 1px #eee" )
						p Corporate Document

					.col-md-4.col-sm-4.work( data-view-project="society" )
						.thumb
							img( src="/img/projects/cup.png", style="border: solid 1px #eee" )
							img( src="/img/projects/cup_hover.png", style="border: solid 1px #eee" )
						p Packaging

					.col-md-4.col-sm-4.work( data-view-project="stab" )
						.thumb
							img( src="/img/projects/stab.png", style="border: solid 1px #eee" )
							img( src="/img/projects/stab_hover.png", style="border: solid 1px #eee" )
						p E-publishing

					.col-md-4.col-sm-4.work( data-view-project="leeds" )
						.thumb
							img( src="/img/projects/leeds.png", style="border: solid 1px #eee" )
							img( src="/img/projects/leeds_hover.png", style="border: solid 1px #eee" )
						p City Identity

					.col-md-4.col-sm-4.work( data-view-project="phoneapp" )
						.thumb
							img( src="/img/projects/phoneapp.png", style="border: solid 1px #eee" )
							img( src="/img/projects/phoneapp_hover.png", style="border: solid 1px #eee" )
						p Phone App

					.col-md-4.col-sm-4.work( data-view-project="kalvei" )
						.thumb
							img( src="/img/projects/kalvei.png", style="border: solid 1px #eee" )
							img( src="/img/projects/kalvei_hover.png", style="border: solid 1px #eee" )
						p New Kalvei's Website

					.col-md-4.col-sm-4.work( data-view-project="karen" )
						.thumb
							img( src="/img/projects/karen.png", style="border: solid 1px #eee" )
							img( src="/img/projects/karen_hover.png", style="border: solid 1px #eee" )
						p Projects for Karen Millen
